<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Arkitekt och Milj&ouml; AB - Arkitektkontoret som bryr sig om dig.{% endblock %}</title>
<meta name="keywords" content="arkitekt,milj&ouml;,design,kalmar,cleas,soft center,ritningar,milj&ouml;v&#228;nlig,materialval,bygg,hus,villa"/>
<meta name="description" content="Arkitekt och Milj&ouml; i Kalmar"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/superfish.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/text.css"/>
{% block extracss %}{% endblock %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="200" colspan="3" nowrap="nowrap"><img id="header-image" alt="Arkitekt och Milj&ouml; AB - Arkitektkontoret som bryr sig om dig." src="{{ MEDIA_URL }}/images/logo_angel.jpg"/></td>
  </tr>
  <tr>
    <td height="35" colspan="3" valign="top" align="center">
    <table width="800" border="0" cellpadding="0" cellspacing="0">
      <tr style="background-color:#ccc">
        <td width="100">&nbsp;</td>
        <td align="center" valign="top">
	  <div align="right">
          {% load menu_extras %}
          {% flatpages_to_menu "sf-menu" %}
        </div></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td colspan="3" valign="bottom">

    <div id="content" style="padding:50px 100px 50px 100px">
    {% block maincontent %}
     tomt :(
    {% endblock %}
    </div>
    
    </td>
  </tr>
  <tr>
    <td width="401" height="5" align="center" valign="bottom">&nbsp;</td>
    <td width="30" rowspan="3" align="center" valign="middle"><img src="{{ MEDIA_URL }}/images/streck.gif" alt="" width="30" height="91" /></td>
    <td width="335" height="5" align="center" valign="bottom">&nbsp;</td>
  </tr>
  <tr>
    <td height="5" align="center" valign="bottom"><div align="right" class="style8"><strong>Arkitekt &amp; Milj&ouml; AB</strong><br/>
      Stortorget 34<br/>
    392 31 Kalmar</div></td>
    <td height="5" align="center" valign="bottom"><div align="left" class="style8">0480 - 20 500<br/>
      <span id="email_address">Info_snabela_arkitekt-m.nu</span><br/>
    www.arkitekt-m.nu</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>  
</table>


<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery-1.3.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/hoverIntent.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/superfish.js"></script>
<script type="text/javascript">
jQuery(function(){
    var background_images = [
      '{{ MEDIA_URL }}/images/logo_bad.jpg',
      '{{ MEDIA_URL }}/images/logo_kyrka.jpg',
      '{{ MEDIA_URL }}/images/logo_brygga.jpg',
      '{{ MEDIA_URL }}/images/logo_vagg.jpg',
      '{{ MEDIA_URL }}/images/logo_oland.jpg',
      '{{ MEDIA_URL }}/images/logo_angel.jpg',
      '{{ MEDIA_URL }}/images/logo_utsikt.jpg',
    ];
    var w = Math.round(Math.random()*(background_images.length-1));
    jQuery('#header-image').attr('src', background_images[w]);

    jQuery('#email_address').text(jQuery('#email_address').text().replace('_snabela_','@'));
    jQuery('ul.sf-menu').superfish();
});
</script>
{% block extrajs %}{% endblock %}
</body>
</html>
