body {
  font-family:Verdana,Arial,sans-serif;
  font-size:10pt;
  background-color: #000000;
}

.style7 {font-size: 12px;}
.style8 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; }

